@import "./variables";
@mixin customStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        background-color: $buttonColor;
    }
}
header {
    background-color: skyblue;
    @include customStyle();
}
.contact{
    @include customStyle();
}