.container{
    width: 80%;
    height: 1300px;
    border:1px solid red;
    display: flex;
}
.child-1 {
    width:200px;
    height:200px;
    background-color: red;
    color: black;
    text-align: center;
    flex: 1;
    order: 3;
}
.child-2 {
    width:200px;
    height:200px;
    background-color: green;
    color: black;
    text-align: center;
    order: 1;
}
.child-3 {
    width:200px;
    height:200px;
    background-color: blue;
    color: black;
    text-align: center;
    order: 2;
}