.container{
    width: 80%;
    height: 1300px;
    border:1px solid red;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.child-1 {
    width:200px;
    height:200px;
    background-color: red;
    color: black;
    text-align: center;
    flex-grow:1;
    order: 1;
    align-self:flex-end;
}
.child-2 {
    width:200px;
    height:200px;
    background-color: green;
    color: black;
    text-align: center;
    flex-grow: 2;
    order:2;
}
.child-3 {
    width:200px;
    height:200px;
    background-color: blue;
    color: black;
    text-align: center;
    flex-grow: 1;
}